body {



    background-color: rgb(167, 138, 86);

}





#no {background-color: blanchedalmond;
    text-align: center;
    border-style: initial;
    border-width: 0cqmin;
    border-radius: 0vw;



















}


#fiftyspacepercentspacechancespaceofspacerick{

    border-width: 1px;
    border-style: solid;
    border-color:aquamarine;
    padding: 15px;
    margin-left: 35%;






}








#fiftyspacepercentspacechancespaceofspacerick{




    position: fixed;





}




#foot{ background-color: rgb(255, 255, 255);









}































img {















border-radius: 50%;
width: 50%;
height: 25%;
border-width: 1px;
border-style: solid;
border-color: blanchedalmond;
display: block;
margin-left: 25%;
margin-right: 25%;






























}